@import url("reset.css");


/* =======block_1========= */
.block_1 {
	font-family: "Poppins", sans-serif;
	
}
.content_block_1 {
	background-image: url(../img/01.png);
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: cover;
	
}
.text_block_1 {
	font-weight: 300;
	font-size: 12px;
	line-height: 1.7;
	color: #E5E5E5;
	padding-top: 330px;
	padding-bottom: 100px;
	max-width: 605px;
	margin: 0 10%;
	
	
}
.date {
	
	padding-bottom: 15px;
}
.title_block_1 {
	font-weight: 700;
	font-size: 25px;
	line-height: 1.6;
	color: #F8F9FA;
	padding-bottom: 15px;
	/* max-width: 605px; */
}
/* =========block_2============= */
.block_2 {
	font-family: "Inter", sans-serif;
}
.content_block_2 {
	background: url(../img/speaker\ 1.jpg) 885px 80px no-repeat  ,url(../img/Vector\ 17.png) right 0 no-repeat , url("../img/Vector\ 18.png") right 0  no-repeat ;
	max-width: 1440px;
	margin: 0 auto;
}
.text_block_2 {
	padding: 145px 0 145px 135px;
}
.cost {
	font-weight: 600;
	font-size: 18px;
	line-height: 1.4;
	color: #3056D3;
	padding-bottom: 15px;
}
.title_block_2 {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.25;
	color: #212B36;
	padding-bottom: 15px;
}
.par_block_2 {
	max-width: 570px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	color: #637381;
	padding-bottom: 35px;
}
.link {
	font-weight: 600;
	font-size: 16px;
	line-height: 1.5;
	color: #FFFFFF;
	width: 139px;
	height: 44px;
	text-align: center;
	background: #3056D3;
	border-radius: 30px;
	padding: 10px 30px;
}
/* =======block_3====== */
.block_3 {
	font-family: "Inter" , sans-serif;
}
.content_block_3 {
	background: rgb(131,58,180);
	background: linear-gradient(56deg, rgba(131,58,180,1) 0%, rgba(186,48,195,0.7372198879551821) 0%, rgba(42,215,170,1) 0%, rgba(66,212,99,0.38707983193277307) 0%, rgba(76,210,68,1) 0%, rgba(191,206,68,1) 0%, rgba(251,246,246,1) 0%, rgba(7,247,66,1) 28%, rgba(20,243,203,1) 34%, rgba(48,124,235,1) 42%, rgba(76,209,212,1) 50%, rgba(252,69,245,1) 70%);
	
}
.text_block_3 {
	/* padding-left: 150px; */
	max-width: 700px;
	margin: 0 auto;
}
.title_block_3 {
	font-weight: 400;
	font-size: 26px;
	line-height: 1.1;
	color: #212B36;
	padding-bottom: 45px;
}
.list_1 > li{
	background: url(../img/icons/01.svg) 0 4px / 8px  no-repeat;
}
.list_2 > li{
	background: url(../img/icons/021.svg)0 0 / 20px no-repeat;
}
.list_3 > li {
	background: url(../img/icons/03\ 1.svg)0 0 / 20px no-repeat ;
}
.list_4 > li {
	background: url(../img/icons/arrow04\ 1.svg) 0 -2px / 20px no-repeat;
}
.list_5 > li {
	background: url(../img/icons/05green.svg)0 0 / 20px no-repeat ;
}
.list_6 >li{
	background: url(../img/icons/star\ 06\ 1.svg)0 -1px / 20px no-repeat ;
}
[class*="list_"]{
	font-weight: 700;
	font-size: 16px;
	line-height: 1;
	color: #637381;
	
}
ul{
	padding-bottom: 60px;
	padding-left: 100px;
}
li{padding-bottom: 18px;
	padding-left: 30px;
	min-height: 22px;
}